*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: violet;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    gap: 2em;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: violet;
}