<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аптека "Сдохни или умри"</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/"><h1>Главная</h1></a>
            <a href="/catalog"><h1>Каталог</h1></a>
            <a href="/about"><h1>О нас</h1></a>
        </nav>
        <form class="search" method="GET" action="/search">
            <input type="search" name="query" id="query">
            <input type="submit" value="Найти" id="searchSubmit">
        </form>
    </header>
    <main class="wrap">
            <h1>Приветсвуем вас!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate reprehenderit quo eos repellat repudiandae earum deleniti temporibus maxime facilis? Molestias fuga, laboriosam autem ad doloremque quod perferendis in voluptatem vel?</p>
    </main>
    <footer>
        <form action="/feedback" method="post">
            <label for="login">Имя:</label>
            <input type="text" name="login" id="login">
            <label for="content">Отзыв:</label>
            <textarea name="content" id="content"></textarea>
            <input type="submit" id="feedbackSubmit" value="Отправить">
        </form>
        @Права не защищены
    </footer>
</body>
<script src="static/js/script.js"></script>
</html>